body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url("Images/wood.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:lightgoldenrodyellow
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.topbar{
    width:900px;
    height:250px;
    margin-bottom:20px;
}
.titlebar{
    background-image:url("Images/books.jpg");
    height:204px;
    margin-left:30px;
    margin-right:30px;
    padding-top:50px;
}
.internaluseonlybar{
    margin-left:30px;
    margin-right:30px;
    margin-top:10px;
    margin-bottom:30px;
    height:30px;
    background-color:gray;
    text-align:center;

}
.henrysbookstoretitle{
    color:white;
    text-align:center;
    vertical-align:middle;
    /*margin-top:auto;
    margin-bottom:auto;*/
    font-size:60px;
    height:50px;
    /*display:table-cell;
    min-height:10em;*/
}

.body-container {
    padding-left: 15px;
    padding-right: 15px;
    background-color:lightgoldenrodyellow;
    width:900px;
    margin-left:30px;
    margin-right:30px;
    padding-top:15px;
    min-height:600px;
}
.navbox{
    background-color:gray;
    margin:20px;
    width:170px;
    height:230px;
    padding:5px;
    float:left;
}

.navbox-text{
    color:white;
    text-align:center;
}

.navimagelink{
    /*float:left;*/
    clear:both;
    position:center;
    margin:auto;
    width:90%;
}

footer{
    clear:both;
}
.whitelink{
    color:white;
}

.sidebarwrapper{
    background-color:white;
    border: 2px solid black;
    padding:6px;
}

.sidebarlinks{
    list-style-type:none;
}
.sidebarcolumn{
    float:left;
    width:250px;
}
.content-wrapper{
    margin-left:250px;
    padding-left:20px;
}
.inventorybooks{

}
.book{
    width:130px;
    float:left;
    margin-top:3px;
}
.bookimage{
    width:125px;
    height:193px;
}

.bookdetails{

}

.booklargeimage{
    width:397px;
    height:600px;
}

.bookdetailtablewrapper{
    margin-top:10px;
}

.bookdetailtable, tr, td{
    border: 1px solid black;
    width: 350px;
}
.headertablerow{
    font-weight:bold;
}