@{
    ViewBag.Title = "Home Page";
}

<div class="navbox">
    <div class="navbox-text">
        Browse Inventory
    </div>
    <div class="navimagelink">
        <img src="~/Content/Images/inventory.jpg" />
    </div>
</div>

<div class="navbox">
    <div class="navbox-text">
        Browse By Author
    </div>
    <div class="navimagelink">
        <img src="~/Content/Images/author.jpg" />
    </div>
</div>

<div class="navbox">
    <div class="navbox-text">
        Browse By Publisher
    </div>
    <div class="navimagelink">
        <img src="~/Content/Images/publisher.jpg" />
    </div>
</div>

<div class="navbox">
    <div class="navbox-text">
        Browse By Location
    </div>
    <div class="navimagelink">
        <img src="~/Content/Images/bookstore.jpg" />
    </div>
</div>